@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200&display=swap');
/*
font-family: 'Karla', sans-serif;
Farbe: #323A45 / #848484
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Karla', sans-serif;
}
a{
    text-decoration: none;
    color: unset;
    text-transform: capitalize;
}
a:hover{
    opacity: .5;
}
h1{
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: 5%;
}
h2{
    font-size: 1rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
/* ++++++ Header +++++++++++ */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
    margin-bottom:5%;
}
ul{
    display: flex;
    gap: 30px;
    margin-right: 5.3%;
}
ul li{
    list-style: none;
    font-size: .9rem;
}
/* ++++++ main + Grid Container ++++++ */
main{
    width: 90%;
    margin: 0 auto;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}
.first-grid-col{
    grid-column: span 3;
}
figcaption{
    font-size: .8rem;
    margin-bottom: 10px;
}
div:nth-of-type(1){
    display: flex;
    justify-content: space-between;
}
.company{
    color: #848484;
    margin-bottom: 2rem;
}
img{
    width: 100%;
    margin-bottom: 2%;
}
/* +++++++ contact section +++++++ */
.grid-2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    margin-top: 6%;
    justify-items: center;
    align-content: center;
    margin-bottom: 5%;
}
article p{
    font-weight: 400;
    font-size: .9rem;
    margin-bottom: 5px;
    line-height: 1.8;
}
article a{
    font-weight: 500;
}
span{
    font-weight: 700;
}
.italic{
    font-style: italic;
}
footer{
    padding: 30px 0;
    color: #848484;
    text-transform: capitalize;
    font-size: .9rem;
    width: 90%;
    margin: 0 auto;
}
/* ++++ +++++ */
label{
    font-size: 2rem;
    margin: 0 40px 0 0;
    display: none;
}
#toggel{
    display: none;
}
/* +++++++ media queries +++++++ */
@media screen and (max-width:480px) { 
    .grid-container{
        grid-template-columns: 1fr;
    }
    .first-grid-col{
        grid-column: span 1;
    }
.grid-2{
    grid-template-columns: 1fr;
    justify-items: left;
}
figcaption{
    font-size: .8rem;
}
h1{
    font-size: .8rem;
}
/* needs more work*/
label{
    display: block;
}
ul{
    display: none;
} 
#toggel:checked + ul{
    display: block;
}
    }